@import 'styles/settings/Breakpoints.scss';
@import 'styles/settings/Defaults.scss';

.board {
  outline: none;
  
  ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85rem;

    @include breakpoint(m) {
      padding-left: $sidebar-width;
    }
  }
}