@import 'styles/settings/Colors.scss';
@import 'styles/settings/Defaults.scss';
@import 'styles/settings/Breakpoints.scss';

.sidebar {
  display: block;
  flex-grow: 1;
  padding: 2em;
  text-align: left;
  background-color: $grey-light;
  border-bottom: 7px solid $grey-dark;
  box-shadow: $box-shadow-default;
  
  section {
    margin-top: 2rem;
  }
  
  @include breakpoint(m) {
    border-right: 7px solid $grey-dark;
    border-bottom: none;
    max-width: 22rem;
  }
}