@import "styles/settings/Colors.scss";

.button {
  display: block;
  padding: 0.3em 1.5em;
  border: none;
  background: $grey-dark;
  color: #FFF;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 2em;
  cursor: pointer;
  
  &:hover,
  &:focus {
    background: $grey-dark;
  }
}

.button--big {
  font-size: 1.5em;
  width: 100%;
}

.button--inline {
  display: inline-block;
  width: auto;
  margin-left: 1em;
}

.button--link {
  background: none;
  color: #000;
  text-decoration: underline;
  padding: 0;

  &:hover,
  &:focus {
    background: none;
    text-decoration: none;
  }
}