@import "styles/settings/Defaults.scss";
@import "styles/settings/Colors.scss";
@import "styles/settings/Breakpoints.scss";

.button {
  display: block;
  padding: 1em 1.5em;
  border: none;
  background: $grey-dark;
  color: #FFF;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1.5em;
  cursor: pointer;
  white-space: nowrap;
  
  &:hover,
  &:focus {
    background: $red;
  }
}

.button--primary {
  font-size: 1.5em;
  background: $red;
}

.button--inline {
  display: inline-block;
  width: auto;
  margin-left: 1em;
}

.button--link {
  background: none;
  color: #000;
  text-decoration: underline;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1em;

  &:hover,
  &:focus {
    background: none;
    text-decoration: none;
  }
}