@import "styles/settings/Colors.scss";

.button {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em 1.5em;
  border: none;
  background: $grey;
  color: #FFF;
  border-radius: 6px;
  line-height: 2em;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $grey-dark;
  }
}

.button--big {
  font-size: 1.5em;
}

.button--inline {
  display: inline-block;
  width: auto;
  background: none;
  color: #000;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  margin-left: 1em;

  &:hover,
  &:focus {
    background: none;
    text-decoration: none;
  }
}