@import 'styles/settings/Colors.scss';

.card-wrapper {
  list-style: none;
  margin: 1em;
  flex: 1 1 15em;
}

.card {
  position: relative;
  width: 100%;
  padding: 20px;
  align-content: #eee;
  border: 5px solid transparent;
  border-radius: 6px;
  text-align: left;
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.5);

  &:focus,
  &:hover,
  &[aria-pressed="true"] {
    border-color: $grey-dark;
    background: #fff;
  }

  &[aria-pressed="true"] {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);

    &:hover,
    &:focus {
      background: #eee;
    }
  }
}

.card--highlighted {
  background: #ff8;
}
