@import 'styles/settings/Colors.scss';
@import 'styles/settings/Defaults.scss';
@import 'styles/settings/Breakpoints.scss';

.card-wrapper {
  list-style: none;
  margin: 0.5em;
  flex: 0 1 11em;

  @include breakpoint(s) {
    flex: 0 1 15em;
    margin: 1em;
  }
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 30px;
  background: #fff;
  border: 5px solid transparent;
  border-radius: $border-radius;
  text-align: left;
  box-shadow: $box-shadow-default;
  transition: box-shadow 0.1s, top 0.1s, left 0.1s;

  &:focus,
  &:hover,
  &[aria-pressed="true"] {
    box-shadow: $box-shadow-strong;
  }

  &[aria-pressed="true"] {
    border-color: $grey-dark;
    border-style: solid;
  }
}

.card--highlighted {
  border-color: $grey-dark;
  border-style: dashed;
}
