.card-wrapper {
  list-style: none;
  margin: 2em;
  flex: 1 1 auto;
}

.card {
  width: 150px;
  padding: 10px;
  outline: 2px solid #444;
  border: none;
  background: #FFF;
}

.card:focus {
  outline-width: 5px;
}

.card[aria-pressed="true"] {
  background: #444;
  color: #fff;
}

.card--highlighted {
  background: #ff8;
}