@import 'styles/settings/Colors.scss';

.app-header {
  background-color: $grey-dark;
  padding: 20px;
  color: #FFF;
  overflow: hidden;

  h1 {
    display: inline-block;
    margin: 0;
    line-height: 1.65em,
  }
}