@import 'styles/settings/Colors.scss';

.message {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  background: $green;
}

.message--negative {
  background: $red;
}

.message--positive {
  background: $green;
}