@import 'styles/settings/Colors.scss';

.message {
  padding: 1em 1.5em;
  border-radius: 1px;
  font-weight: bold;
  width: 100%;
  background: $green;
}

.message--negative {
  background: $red;
}

.message--positive {
  background: $green;
}