@import "styles/settings/Colors.scss";
@import "styles/settings/Defaults.scss";

.modal__body {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background: #FFF;
  max-height: 100%;
  min-width: 50%;
  border-top: $border-radius solid $green;
  border-radius: $border-radius;
}

.modal__content {
  padding: 3em 3em 1em;
}

.modal__footer {
  padding: 1em;
  background: $green;
}

.modal__close-button {
  width: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.modal__mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
}

.modal[aria-hidden="false"] {
  display: block;
}

.modal[aria-hidden="true"] {
  display: none;
}
