@import "styles/settings/Colors.scss";

.shape-defs {
  // hide svg before being used
  width: 0;
  height: 0;
}

.shape {
  stroke-width: 8px;
  stroke: #000;
}

.shape--red {
  fill: $red;
}

.shape--red.shape--empty {
  fill: none;
  stroke: $red;
}

.shape--red.shape--granular {
  fill: url(#pattern-red);
}

.shape--green {
  fill: $green;
}

.shape--green.shape--empty {
  fill: none;
  stroke: $green;
}

.shape--green.shape--granular {
  fill: url(#pattern-green);
}

.shape--yellow {
  fill: $yellow;
}

.shape--yellow.shape--empty {
  fill: none;
  stroke: $yellow;
}

.shape--yellow.shape--granular {
  fill: url(#pattern-yellow);
}
