* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Game {
  display: flex;
  justify-content: center;
  max-width: 90em; 
  margin: 0 auto; 
}

.Board {
   flex-basis: 856px; 
}

.Board ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Sidebar {
  flex-basis: 20em;
  margin: 0 1em;
  padding: 2em;
  text-align: left;
  background-color: #eee; 
}