.button {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em 1.5em;
  border: none;
  background: #444;
  color: #FFF;
}

.button:hover, .button:focus {
  background: #8d0;
  color: #222;
}

.button--big {
  font-size: 1.5em;
}